@import "../utils/variables.scss";
@import "../utils/mixin.scss";
.PopUp {
  background-color: $gray;
  border: 1px solid $orange;
  padding: 0.5em;
  position: fixed;
  text-align: center;
  @include for-tablet-portrait-up {
    font-size: 1.1em;
    padding: 0.8em;
  }
  
  &--warning {
    @extend .PopUp;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
