@import "../utils/variables.scss";
@import "../utils/mixin.scss";

.navContainer {
  background-color: $black;
  height: 10vh;
  @include standardFlex(space-between, center);
  @include wrapperPadding;
}

.IconContainer {
  padding: 0.2em;
  width: 40%;
  aspect-ratio: 2/1;
  @include for-tablet-portrait-up {
    width: 20%;
  }
  @include for-tablet-landscape-up {
    width: 15%;
  }
  @include for-desktop-up {
    width: 10%;
  }
  button {
    all: unset;
    width: 100%;
    height: 100%;
    svg {
      cursor: pointer;
      height: 100%;
      @include for-tablet-portrait-up {
        height: 90%;
      }
    }
  }

  svg:hover {
    animation: background-html5-hover 0.5s linear;
    background-color: $orange;
    border-radius: 70%;
  }
}

.headingTitleContainer {
  &__word {
    font-weight: 300;
    font-size: 0.9em;
    @include for-tablet-portrait-up {
      font-size: 1.2em;
    }
    &--txtBold {
      font-weight: 600;
    }
    &--hiddenName {
      text-align: end;
      @include for-tablet-portrait-up {
        margin: 0.3em;
      }
    }
  }
}

@keyframes background-html5-hover {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $orange;
  }
}
